prefer-workspace-packages = true
link-workspace-packages = true
recursive-install = true
# 限制网络并发数（同时下载的包数量）
network-concurrency=4
# 限制子进程并发数（解压、链接等操作）
child-concurrency=4
# 可选：进一步限制全局并发（减少压力）
max-global-concurrency=5