@use 'mixins';

.wLayout {
  @include mixins.wFlex(flex, flex-start, flex-start, column);
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}

.wHeader {
  height: 50px;
}
.wMain {
  flex: 1;
}
.wFooter {
  height: 70px;
}