@use 'mixins';

.wLayout {
  @include mixins.wFlex(flex, flex-start, flex-start, column);
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}

.wHeader,
.wMain,
.wFooter {
  width: 100%;
}

.wHeader {
  height: 50px;
}
.wMain {
  height: calc(100vh - 50px - 70px);
}
.wFooter {
  height: 70px;
}

.footerWrapper {
  @include mixins.flexCenter();
  width: 100%;
  height: 100%;
}