// 实现一个最基础的Flex布局样式
@mixin wFlex($flex: flex, $align: flex-start, $justify: flex-start, $direction: row) {
  display: $flex;
  align-items: $align;
  justify-items: $justify;
  flex-direction: $direction;
}

// 利用flex布局实现的水平+垂直居中
@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

// 利用绝对定位实现的水平+垂直居中
@mixin center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}